# copy .env.local.dist to .env.local
# this file is used when application is running locally without docker-compose
# python transformer-runner.py --env=local
MONGODB_NAME=
MONGODB_HOST=localhost
MONGODB_PORT=27017
POSTGRES_DBNAME=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=